<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <!-- Component browser: debug builds only, not included in release APK -->
        <activity
            android:name=".showcase.ComponentShowcaseActivity"
            android:exported="true"
            android:label="Component Showcase"
            android:theme="@style/Theme.Mileway">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
